<div id="<%= dom_id appitem %>">
  <p>
    <strong>Name:</strong>
    <%= appitem.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= appitem.description %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= appitem.color %>
  </p>

  <p>
    <strong>Default status:</strong>
    <%= appitem.default_status %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= appitem.link %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= appitem.position %>
  </p>

</div>
