<div id="<%= dom_id appitem %>">
  <h1 class='app-item-title'>
     <a href='<%= appitem.link %>' class='app-item-title'>
        <%= appitem.name %>
     </a>
  </h1>

  <p>
    <%= appitem.description %>
  </p>
   
    <%# <strong>Default status:</strong>
    <%= appitem.default_status %> 
    <%# <strong>Position:</strong>
    <%= appitem.position %>

</div>
