<%= form_with(model: appitem) do |form| %>
  <% if appitem.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(appitem.errors.count, "error") %> prohibited this appitem from being saved:</h2>

      <ul>
        <% appitem.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <h3>Are you sure you want to delete <%= appitem.name%> ?</h3>
  <div hidden>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <br/>

  <div hidden>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>
  <br/>
  <div hidden>
    <%= form.label :color, style: "display: block" %>
    <%= form.text_field :color %>
  </div>

  <div hidden>
    <%= form.label :default_status, style: "display: block" %>
    <%= form.text_field :default_status, value:'No' %>
  </div>

  <div hidden>
    <%= form.label :link, style: "display: block" %>
    <%= form.text_field :link %>
  </div>

  <div hidden>
    <%= form.label :position, style: "display: block" %>
    <%= form.number_field :position %>
  </div>

  <div>
    <%= form.submit  %>
  </div>
<% end %>
