<p style="color: green"><%= notice %></p>

<h1>Appitems</h1>

<div id="appitems" data-controller='drag'>
  <% @appitems.each do |appitem| %>
  <div class="app-item-box" style='background-color:<%= appitem.color%>'>
     <%= render appitem %>
      <p>
        <%= button_to "Delete", appitem, method: :delete %>
        <%# <%= link_to "Show this appitem", appitem %>
      </p>
  </div>
  <% end %>
</div>

<%= link_to "New appitem", new_appitem_path %>
